<div class="main">
  <ul id="slide-out" class="side-nav">
    <div class="title">
        <h2>Menu</h2>
    </div>
    <div class="in-menu">
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li *ngFor="let tipo of Data">
          <div class="collapsible-header"><h2>{{tipo.tipos}}</h2></div>
          <div class="collapsible-body">
            <ul>
              <li *ngFor="let uvas of tipo.wines"><a [routerLink]="['/wines', uvas.id_uva]">{{uvas.uva}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </ul>
  <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><img style="width: 40px; margin: 15px 0 0 15px;" src="assets/images/wine-bottles.svg" alt="menu"></a>
  <router-outlet></router-outlet>
</div>